@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
   --background: 220 14% 96%;
    --black: 0 0 0%;
    --cardtitle: 220 30% 45%;
    --betcard: 219 84% 95%;
    --secondrybetcard: 219 84% 93%;
    --greenbetcard: 185 60% 88%;
    --foreground: 219 55% 6%;
    --greyf: 0 0% 36%;
    --card: 220 100% 99%;
    --card-foreground: 219 55% 6%;
    --popover: 220 100% 99%;
    --popover-foreground: 219 55% 6%;
    --primary: 220 88% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 84% 92%;
    --secondary-foreground: 219 55% 6%;
    --muted: 0 0% 83%;
    --muted-foreground: 220 25% 40%;
    --muted-text: 0 0% 25%;
    --disabled: 220 20% 70%;
    --disabled-foreground: 220 10% 50%;
    --accent: 219 84% 92%;
    --accent-foreground: 219 55% 6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --haravara: 152 70% 40%;
    --haravara-foreground: 185 71% 10%;
    --navbackground: 219 84% 96%;
    --icon: 220 88% 50%;
    --border: 219 50% 88%;
    --input: 219 84% 95%;
    --pointinput: 219 60% 85%;
    --subinput: 219 70% 90%;
    --menu: 220 100% 98%;
    --ring: 220 88% 62%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --success: 142 76% 36%;
    --warning: 45 100% 50%;
    --prev-primary: 348 88% 62%;
  }


  .dark {
    --background: 219 55% 6%;
    --black: 0 0 0%;
    --cardtitle: 225 16% 61%;
    --betcard: 220 54% 15%;
    --secondrybetcard: 220 54% 17%;
    --greenbetcard: 185 81% 16%;
    --foreground: 0 0% 100%;
    --greyf: 0 0% 64%;
    --card: 220 55% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 220 55% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 220 88% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 83%;
    --muted-foreground: 220 20% 65%;
    --muted-text: 0 0% 25%;
    --disabled: 0 0% 62%;
    --disabled-foreground: 0 0% 100%;
    --accent: 220 54% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --haravara: 152 100% 52%;
    --haravara-foreground: 185 71% 19%;
    --navbackground: 220 50% 10%;
    --icon: 220 88% 73%;
    --border: 220 54% 18%;
    --input: 220 54% 16%;
    --pointinput: 220 54% 25%;
    --subinput: 220 54% 20%;
    --menu: 220 54% 11%;
    --ring: 220 88% 83%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --success: 142 76% 36%;
    --warning: 45 100% 50%;
    --prev-primary: 348 88% 62%;
  }
}

/* Regular/Normal */
@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/segoeuithis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/segoeuithibd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/segoeuithisi.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/segoeuithisz.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: "Segoe UI";
    @apply bg-background text-foreground;
  }
}

.vaul-overlay {
  pointer-events: none !important;
}